// Headers File | Raptor v0.0.2

.Headers {

    text-align: center;

    &__Title {

        color: $K-D4;
        font-display: auto;
        font-family: 'Righteous', cursive;
        text-transform: uppercase;

    }
}
