// LiveCallBottom Button | Raptor v0.0.2

.LiveCallBottom {

    &__ButtonContainer {

        display: flex;
        flex-direction: column;
        width: 100%;
		padding: 5px;
		box-sizing: border-box;
		justify-content: flex-end;
		align-items: flex-end;
        // position: absolute;
        // top: -40px;

    }

    &__Button {

        border-radius: 50px;
        padding: 6px 20px;
        text-align: center;
        border: none;
        background: $LC-D4;
        font-family: Helvetica;
        text-transform: uppercase;
        font-size: 14px;
        color: $LCB-D3;
        transition: transform 1s ease-out;

        &:focus {
            outline-color: $LC-D4;
        }

        &:hover {
            transform: scale(1.2);
        }
    }

    &__ButtonCopy {

        color: $LCB-D2;
        font-family: Helvetica;
        font-size: 10px;
        padding: 0 0px 4px 0;
        text-align: center;
        text-transform: uppercase;

    }
}
