// Cover File | Raptor v0.0.8

.Cover {

    background: $K-K1;
    color: $K-K4;
    font-family: Helvetica, sans-serif;

    a {

        color: $K-K5;
        text-decoration: none;
        transition: color .2s ease-out;

        &:hover {

            color: rgba($K-K5, .5);
        }
    }
}
