// Kolibri Kolor File | Velociraptor v1.0.0

$K-K1: #0D0D0D; // Main Black
$K-K2: #141414; // Secondady Black
$K-K3: #292929; // Tertiary Black
$K-K4: #E5E5E5; // Headline Text
$K-K5: #D0D0D0; // Paragraph Text
$K-K6: #F86363; // Interaction Color
$K-K7: #484848; // Dark Text
