// Settings File | Raptor v0.0.2

$Breakpoints: (
    Smartphone: (0px,414px),
    Tablet: (415px,768px),
    Laptop: (769px,1024px),
    Desktop: (1025px,1280px),
    Desktop-HD: (1281px, 1440px),
    All-Desktop: (769px)
);

// Drops
@import './Engines/Drops/Drops';

// Shaper
@import './Engines/Shaper/Shaper';

// Morpher
@import './Engines/Morpher/Morpher';
