// LiveCall Button | Raptor v0.0.2

.LiveCall {

    &__ButtonContainer {

        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 50%;
		padding: 5px;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;

    }

    &__Button {

        border-radius: 50px;
        padding: 6px 40px;
        text-align: center;
        border: none;
        background: $LC-D4;
        font-family: Helvetica;
        text-transform: uppercase;
        font-size: 14px;
        color: $LC-D3;

        animation-name: ButtonPulsar;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function:ease-in-out;

        will-change: transform;

        &:focus {
            outline-color: $LC-D4;
        }
    }

    &__ButtonCopy {

        color: $LC-D2;
        font-family: Helvetica;
        font-size: 10px;
        padding: 0 0 4px 0;
        text-align: center;
        text-transform: uppercase;

    }
}

@keyframes ButtonPulsar {

    0%  {
            transform: scale(1);
        }

    50% {
            transform: scale(1.1);
            box-shadow: -2px 2px 2px $LC-D6;
            text-shadow: -1px 1px 2px $LC-D7;
        }
    100% {
            transform: scale(1);
        }
}
