// Kalligraphr Google Fonts File | Velociraptor v1.0.0

@mixin Headers {

	font-family: '#{$Font-One}', sans-serif;
	font-size: 1em;
	line-height: .5em;
	letter-spacing: 1em;
}

@mixin Headlines {

	font-family: '#{$Font-Two}', sans-serif;
	font-size: 1em;
	line-height: .5em;
	letter-spacing: 1em;
}

@mixin Paragraph {

	font-family: '#{$Font-Two}', sans-serif;
	font-size: 1em;
	line-height: .5em;
	letter-spacing: 1em;
}
