// Kalligraphr Google Fonts File | Raptor v0.0.8

@mixin Headers {

	font-family: '#{$Font-One}', sans-serif;
	font-size: 1em;
	line-height: .5em;
	letter-spacing: 1em;
}

@mixin Headlines {

	font-family: '#{$Font-Two}', sans-serif;
	font-size: 1em;
	line-height: .5em;
	letter-spacing: 1em;
}

@mixin Paragraph {

	font-family: '#{$Font-Two}', sans-serif;
	font-size: 1em;
	line-height: .5em;
	letter-spacing: 1em;
}
