// LiveCallToolbarDark | Raptor v0.0.2

@mixin hover {

    &:hover{
        opacity: 0.5;
    }
}

@mixin text ($color : white, $size : 12px){

    font-size: $size;
    color: $color;
    text-decoration: none;
    text-transform: uppercase;

    @include hover;

}
@mixin container {
    height: 14px;
    display: flex;
}


.LiveCallToolbarDark {

    &__DataContainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-left: 12px;

    }
}
