// LiveCallFloating | Raptor v0.0.2

.LiveCallFloating {

    &__ImageContainer {

        text-align: center;
        width: 50%;
    }

    &__Image {

        height: 100%;
        max-width: 100%;
    }
}
