// Kolibri Drops File | Raptor v0.0.2

$K-D1: #0D0D0D; // Main Black
$K-D2: #141414; // Secondady Black
$K-D3: #292929; // Tertiary Black
$K-D4: #E5E5E5; // Headline Text
$K-D5: #D0D0D0; // Paragraph Text
$K-D6: #F86363; // Interaction Color
$K-D7: #484848; // Dark Text
