// LiveCall Floating Drops File | Raptor v0.0.2

$LCF-D1: #31383e; // Main
$LCF-D2: #ffffff; // Text Info
$LCF-D3: #ffd7d7; // Text Button
$LCF-D4: #ff6464; // Button Interaction
$LCF-D5: #6b6b6b; // Shadow LiveCall Floating
$LCF-D6: #37393a; // Shadow Button
$LCF-D7: #bf4747; // Shadow Button Text
