// LiveCall Drops File | Raptor v0.0.2

$LCB-D1: #870213; // Main
$LCB-D2: #ffffff; // Text Info
$LCB-D3: #8a1414; // Text Button
$LCB-D4: #f8d20b; // Button Interaction
$LCB-D5: #6b6b6b; // Shadow LiveCall
$LCB-D6: #3c1b1b; // Shadow Button
$LCB-D7: #3c1b1b; // Shadow Button Text
