// Ikons File | Raptor v0.0.8

@font-face {
    font-family: '#{$IkonographyName}';
    src:
        url('../assets/fonts/#{$IkonographyName}.woff2') format('woff2'),
        url('../assets/fonts/#{$IkonographyName}.ttf') format('truetype'),
        url('../assets/fonts/#{$IkonographyName}.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@mixin Ikons {

    font-family: '#{$IkonographyName}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@for $Values from 1 through length($Ikonset) {

    $IkonName: nth(nth($Ikonset,$Values),1);
    $IkonUnicode: nth(nth(nth($Ikonset,$Values),2),1);
    $IkonKolor: nth(nth(nth(nth($Ikonset,$Values),2),2),1);

    // Class to bluid here

}
